* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-light: #dfe4f1;
  --color-dark: #1d1c26;
  --color-blue: #022873;
  --color-blue-light: #0477bf;
  --color-blue-lighter: #11a0d9;
  --color-blue-lightest: #27cdf2;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.playground {
  background-color: var(--color-blue-lighter);
  padding: 1em;
  width: 600px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: var(--color-blue);

  display: flex;
  justify-content: center;
  align-items: center;
}

.box-clickable {
  cursor: pointer;
}
